/* Global */
@site       : 'asgardia';
@reset      : 'asgardia';

/* Elements */
@button     : 'asgardia';
@container  : 'asgardia';
@divider    : 'asgardia';
@flag       : 'asgardia';
@header     : 'asgardia';
@icon       : 'asgardia';
@image      : 'asgardia';
@input      : 'asgardia';
@label      : 'asgardia';
@list       : 'asgardia';
@loader     : 'asgardia';
@rail       : 'asgardia';
@reveal     : 'asgardia';
@segment    : 'asgardia';
@step       : 'asgardia';

/* Collections */
@breadcrumb : 'asgardia';
@form       : 'asgardia';
@grid       : 'asgardia';
@menu       : 'asgardia';
@message    : 'asgardia';
@table      : 'asgardia';

/* Modules */
@accordion  : 'asgardia';
@checkbox   : 'asgardia';
@dimmer     : 'asgardia';
@dropdown   : 'asgardia';
@embed      : 'asgardia';
@modal      : 'asgardia';
@nag        : 'asgardia';
@popup      : 'asgardia';
@progress   : 'asgardia';
@rating     : 'asgardia';
@search     : 'asgardia';
@shape      : 'asgardia';
@sidebar    : 'asgardia';
@sticky     : 'asgardia';
@tab        : 'asgardia';
@transition : 'asgardia';

/* Views */
@ad         : 'asgardia';
@card       : 'asgardia';
@comment    : 'asgardia';
@feed       : 'asgardia';
@item       : 'asgardia';
@statistic  : 'asgardia';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes/';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import "theme.less";
